<%= bootstrap_form_for(@label, label_errors: true) do |f| %>
  <%= f.text_field :name, class: 'form-control' %>
  <%= f.text_field :description, class: 'form-control' %>
  <%= f.label :Accounts %><br />
  <% for a in Account.all %>
    <div>
      <%= check_box_tag "label[account_ids][]", a.id,
        @label.accounts.include?(a) %>
      <%= a.name %>
    </div>
  <% end %>
  <%= f.submit %>
<% end %>
