<h2 class="page-header">Log In</h2>
<%= form_for(@user_session, html: { role: 'form', class: 'form' } ) do |form| %>
  <% if @user_session.errors.any? %>
    <h5><%= pluralize(@user_session.errors.count, "error") %>
        prohibited this account from being saved:</h5>
    <div id="error_explanation" class="alert alert-error">
      <ul>
        <% @user_session.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :username, "Username", class: 'control-label' %><br/>
	<div class="controls">
    	<%= form.text_field :username, class: 'form-control' %>
	</div>
  </div>
  <div class="form-group">
    <%= form.label :password, "Password", class: 'control-label' %><br/>
	<div class="controls">
    	<%= form.password_field :password, class: 'form-control' %>
	</div>
  </div>
  <% if not is_local_client %>
    <div id="captcha">
      <%= render '/share/recaptcha' %>
    </div>
  <% end %>
  <div class="form-actions">
    <%= form.submit "Submit", class: 'btn btn-primary btn-large' %>
  </div>
<% end %>
