<!DOCTYPE html>
<html>
  <head>
    <title>Smaran :: Account Management System</title>
    <%= stylesheet_link_tag :all, :cache => true, :media => "all" %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
    <script type="text/javascript">
      var RecaptchaOptions = {
          theme : 'clean'
      };
    </script>
</head>
  <body>
    <div id="banner">
      <%= "Smaran Account Management System" %>
    </div>
    <% if current_user %>
    <div id="side">
        <%= link_to 'Home', root_url %><br />
        <%= link_to 'List of Accounts', accounts_path %><br />
        <%= link_to 'List of Labels', labels_path %><br />
        <hr/>
        <%= link_to 'Create New Account', new_account_path %><br/>
        <%= link_to 'Create New Label', new_label_path %>
        <hr/>
        <table id="item-list" class="<%= table_class %>">
          <% Label.sorted_labels_by_desc.each do |l| -%>
            <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
              <td>
                <%= link_to truncate(l.description, :length => 20),
                  label_path(l) %>
              </td>
            </tr>
          <% end -%>
        </table>
        <hr/>
        <%= link_to "Change Password", edit_user_path(:current) %><br />
        <%= link_to "Logout", logout_path %>
    </div>
    <% end %>
    <div id="main">
      <div id="left">
        <% if current_user %>
          <% if not controller.is_a?(AccountsController) or \
		  		controller.action_name != 'index' %>
            <%= form_tag accounts_path, :method => :get,
              :controller => 'accounts' do %>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search", :name => nil %>
            <% end %>
          <% else %>
            <%= form_tag accounts_path, :method => :get,
              :controller => 'accounts', :remote => true,
              :autocomplete => :off do %>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search", :name => nil %>
            <% end %>
          <% end %>
        </div>
        <div>
          <%= form_tag hide_passwords_path, :method => :post,
                  :controller => 'accounts' do %>
            <%= check_box_tag :hide_passwords, '', session[:hide_passwords] %>
            <%= submit_tag "Hide Passwords?", :name => nil %>
          <% end %>
        <% end %>
        </div>
      <br/>
      <%= yield %>
    </div>
  </body>
</html>
