<%= bootstrap_form_for(@account, :html => { :multipart => true }, label_errors: true) do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :url %>
  <%= f.text_field :username %>
  <%= f.password_field :password, value: @account.password, :size => 20 %>
  <%= f.password_field :password_confirmation, value: @account.password, :size => 20 %>
  <%= f.label "Account Details" %> (
	<%= link_to 'Markdown syntax',
		'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#tables',
		:target => '_blank' %> )
  <%= f.text_area :comments, hide_label: true, :size => "60x10" %>
  <div class="field" id="labels">
    <%= f.label :Labels %><br />
    <% if Label.count > 3 %>
      <table>
        <tr>
      <%
      start_idx = 0
      end_idx = 0
      while true
        end_idx = start_idx + 2
        if end_idx >= Label.count - 1
          end_idx = Label.count - 1
        end
      %>
          <td valign="top">
           <% for label in Label.sorted_labels[start_idx..end_idx] %>
             <div>
               <%= check_box_tag "account[label_ids][]", label.id,
                 @account.labels.include?(label) %>
               <%= label.name %>
             </div>
           <% end %>
          </td>
          <%
            start_idx = end_idx + 1
            break if end_idx >= Label.count - 1
          %>
       <% end %>
        </tr>
      </table>
    <% else %>
       <% for label in Label.sorted_labels %>
         <div>
           <%= check_box_tag "account[label_ids][]", label.id,
             @account.labels.include?(label) %>
           <%= label.name %>
         </div>
       <% end %>
    <% end %>
  </div>
  <h5>Add new attachment: (Max of <%= Account::Max_Attachments %>
  each under <%= Account::Max_Attachment_Size/1.megabyte
  %>MB)</h5>
  <% if @account.assets.count <= Account::Max_Attachments %>
    <%= f.file_field :assets, hide_label: true %>
  <% end %>
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
